header {
    display: flex;
    justify-content: center;
    height: 5rem;
    padding-top: 1.5rem;
    background-image: linear-gradient(to right, white, lightpink,white);
    margin-bottom: 2rem;
}

nav {
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid #ccc;
    height: 3rem;
    padding-top: 0.7rem;
    width: 80%;
    margin: 0 auto;

}

header>a {
    color: rgb(255, 255, 255);
    margin-left: 9%;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2rem;
    text-shadow: 2px 3px 4px #903838;
    letter-spacing: 0.5rem;
    opacity: 1;
}

nav>a {
    color: #adaaaa;
    text-decoration: none;
    margin-left: 20px;
    font-weight: 500;
    font-size: 1.3rem;  
}

header>a:hover{
    color: #f3f3f3;
}
nav>a:hover {
   color:#ff7b7b;
}